.wrapper
  .chat-side
    .side--header
      %p.side--header__user--name 
        = current_user.name
      %ul.user--menu
        %li.user--menu__new--gruop
          = link_to new_group_path,{class: "user-menu_label-color"} do
            %i.fa.fa-edit
        %li.user--menu__edit--user
          = link_to edit_user_path(current_user),{class: "user-menu_label-color" } do
            %i.fa.fa-cog 
    .groups
      = render partial: "groups/group"
  .chat-main
    .main-header
      .current--group
        %h2.current--group__name
          = @group.groupname
          %ul.group--list
            menber : 
            %li.group--list__menber
              - @group.users.each do |user|
                = user.name
      = link_to edit_group_path(@group),{class: "main--heder__edit--btn" } do
        Edit
    .messages
      = render partial: "messages/message", collection: @messages
    .form
      = form_for [@group, @message], html: {class: 'new-message'} do |f|
        .input--box
          = f.text_field :text, class: 'input--box__text', placeholder: 'type a message'
          = f.label :image, class: 'input--box__image--label' do
            %i.fa.fa-image
            = f.file_field :image, class: 'input--box__image'
        = f.submit 'Send', class: 'new--message__submit--btn'


